
.app {
  height: 100vh;
  width: 100vw;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 60px 40px;
}

/* RED SCREEN */
.app.waiting {
  background: radial-gradient(#5a0000, #000);
  box-shadow: inset 0 0 100px #ff0000;
}

/* GREEN SCREEN */
.app.ready {
  background: radial-gradient(#0f5a00, #000);
  box-shadow: inset 0 0 120px #00ff00;
  animation: pulseGreen 1s infinite alternate;
}

@keyframes pulseGreen {
  from {
    box-shadow: inset 0 0 80px #00ff00;
  }
  to {
    box-shadow: inset 0 0 160px #00ff00;
  }
}

/* TEXT */
.wait-text {
  color: red;
  font-size: 3rem;
  text-shadow: 0 0 20px red;
}

.click-text {
  color: #00ff00;
  font-size: 4rem;
  text-shadow: 0 0 30px #00ff00;
}

.stopwatch {
  margin-top: 20px;
  color: #00ff00;
  font-size: 1.5rem;
}

.too-soon {
  color: red;
  font-size: 3rem;
  text-shadow: 0 0 20px red;
  margin-bottom: 12px;
}

.hint {
  color: #aaa;

}

.hint span {
  color: #00ff00;
}

.result {
  color: #00ff00;
  font-size: 4rem;
  text-shadow: 0 0 30px #00ff00;
}

.your-time,
.keep {
  color: #5ffcff;
}


@media (max-width: 600px) {
  .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

